.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 60px
}

.baloon {
  position: absolute;
  left: 200px;
  top: 150px;
  z-index: 1;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  left: 220px;
  top: 190px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 490px;
  top: 310px;
}