.pokemon {
    width: 30%;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    justify-content: space-around;
}

.pokemon .pokemon-info {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}