h1 {
    color:white;
    font-family: Helvetica, sans-serif;
    font-size: 3em;
}
body {
    font-size: 20px;
}
#first {
    background-color: rgb(23, 46, 23);
}
.list-style {
    color: green;
    line-height: 25px;
}
.list-tittle {
    font-size: 25px;
    font-weight: bold;
    padding-top: 200px;
}
.img {
    width: 500px;
    float: right;
}
.collie {
    color: brown;
    font-style: italic;
    font-weight: bold;
}
.text {
    background-color: rgba(168, 250, 202, 0.555);
    width: 80%;
    height: 200px;
    overflow: auto;
}
.mockups {
    display: flex;
}
#camisa1 {
    width: 300px;
    position: absolute;
    z-index: 1;
}
#camisa2 {
    width: 300px;
    padding-left: 300px;
    position: absolute;
    z-index: 1;
}
#estampa1 {
    width: 130px;
    position: absolute;
    z-index: 2;
    padding-top: 40px;
    padding-left: 80px;
}
#estampa2 {
    width: 50px;
    position: absolute;
    z-index: 2;
    padding-top: 70px;
    padding-left: 450px;

}